<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FakedGameClient.CmdGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FakedGameClient.CmdGenerator.Properties.Settings>
            <setting name="CmdFilePath" serializeAs="String">
                <value>E:\Workspace\Work\_HappyView\野球拳EX\源码\PythonApplication1\PythonApplication1\broadcastcmd.txt</value>
            </setting>
            <setting name="Cmd" serializeAs="String">
                <value />
            </setting>
        </FakedGameClient.CmdGenerator.Properties.Settings>
    </userSettings>
</configuration>