<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FakedGameClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <FakedGameClient.Properties.Settings>
            <setting name="Ip" serializeAs="String">
                <value>192.168.16.223</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="LoginCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0001^0</value>
            </setting>
            <setting name="BaoCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0003^2</value>
            </setting>
            <setting name="SignCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0002^00</value>
            </setting>
            <setting name="JianCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0003^1</value>
            </setting>
            <setting name="ChuiCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0003^3</value>
            </setting>
            <setting name="EOF" serializeAs="String">
                <value>\r\n</value>
            </setting>
            <setting name="WatchingCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0006^0</value>
            </setting>
            <setting name="QuitGameCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0000^0</value>
            </setting>
            <setting name="BetCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0004^{3}</value>
            </setting>
            <setting name="WaitingTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AuthCode" serializeAs="String">
                <value>yang</value>
            </setting>
            <setting name="ID" serializeAs="String">
                <value>0223</value>
            </setting>
            <setting name="ResponseSeparator" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="DataSeparator" serializeAs="String">
                <value>^</value>
            </setting>
            <setting name="PlayerSeparator" serializeAs="String">
                <value>@P@</value>
            </setting>
            <setting name="ShowSocketLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0010^0</value>
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="AutoGame" serializeAs="String">
                <value>False</value>
            </setting>
        </FakedGameClient.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
