<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FakedGameClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FakedGameClient.Properties.Settings>
            <setting name="Ip" serializeAs="String">
                <value>192.168.16.171</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ConnectCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0001^0</value>
            </setting>
            <setting name="BaoCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0003^2</value>
            </setting>
            <setting name="SignCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0002^00</value>
            </setting>
            <setting name="JianCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0003^1</value>
            </setting>
            <setting name="ChuiCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0003^3</value>
            </setting>
            <setting name="EOF" serializeAs="String">
                <value>@END@</value>
            </setting>
            <setting name="WatchingCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0006^0</value>
            </setting>
            <setting name="QuitGameCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0000^0</value>
            </setting>
            <setting name="BetCmd" serializeAs="String">
                <value>{0}^{1}^{2}^0004^{3}</value>
            </setting>
            <setting name="WaitingTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AuthCode" serializeAs="String">
                <value>XXX</value>
            </setting>
            <setting name="RoomNo" serializeAs="String">
                <value>223</value>
            </setting>
            <setting name="ResponseSeparator" serializeAs="String">
                <value>|</value>
            </setting>
            <setting name="DataSeparator" serializeAs="String">
                <value>^</value>
            </setting>
            <setting name="PlayerSeparator" serializeAs="String">
                <value>@P@</value>
            </setting>
        </FakedGameClient.Properties.Settings>
    </userSettings>
</configuration>