<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FakedGameClient.ServerController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <userSettings>
    <FakedGameClient.ServerController.Properties.Settings>
      <setting name="ServerIP" serializeAs="String">
        <value>192.168.16.223</value>
      </setting>
      <setting name="ServerPort" serializeAs="String">
        <value>8888</value>
      </setting>
      <setting name="UploadUrl" serializeAs="String">
        <value>http://192.168.16.108:8080/</value>
      </setting>
    </FakedGameClient.ServerController.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="DbEntities" connectionString="metadata=res://*/Database.DbModel.csdl|res://*/Database.DbModel.ssdl|res://*/Database.DbModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\Workspace\Work\_HappyView\JianBaoChui\Src\FakedGameClient\FakedGameClient.ServerController\db.conf&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>